.partners-section{
    display: flex;
    gap: 30px;
    /* margin-top: 10px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #f3f3f3;
  }
  .partners-section img {
    width: 15rem;
    vertical-align: middle;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 768px){
    .partners-section img{
      width: 6rem;
    }
    .partners-section div{
      display: flex;
    }
  }